*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.conteiner-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    margin: 5px;
    gap: 5px;
}
.sec1, .sec2{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.sec2{
    align-items: left;
    justify-content: left;
}
.sec-dados-nota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}
.sec-dados-imp{
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 100%;
}
.text-data{
    width: 40vw;
    height: 30vh;
}
.btn{
    width: 20vw;
    height: 5vh;
    border: 1px solid #00000000;
    cursor: pointer;
}
.text-data{
    border: 1px solid #00000000;
}
